#content.content-contacts {
    background: url('../image/contacts/linen.jpg') repeat #d1d5d8;
    padding: 10px 12px 12px 12px;
    margin-bottom: 10px;
    min-width: 1110px;
}
#content.content-contacts .breadcrumb {
    display: none;
}
.content-contacts .box > .heading {
	display: none;
}
.content-contacts .box > .content {
    border: 0;
	padding: 0;
    min-height: 550px;
}
.content-contacts a {
	cursor: pointer;
}
.content-contacts .vtabs {
    width: 180px;
	margin-top: 40px;
    padding: 0;
    min-height: 511px;
    float: left;
    display: block;
    background: #d9ecf4;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 2px #999;
    -webkit-box-shadow: 0 0 2px #999;
}
.content-contacts .vtabs li {
    padding-bottom: 1px;
}
.content-contacts .vtabs a {
	display: block;
    float: none;
    margin-bottom: 0;
	margin-right: 0;
    border-top: 1px solid #fff;
    border-left: 0;
    border-bottom: 1px solid #bbd3da;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    background-color: #d9ecf4;
    background-image: url('../image/contacts/listicons.png');
    background-position: 6px 3px;
    background-repeat: no-repeat;
    color: #376572;
    text-shadow: 0px 1px 1px #fff;
    text-decoration: none;
    padding: 4px 8px 4px 36px;
    line-height: 18px;
    height: 26px;
    width: 180px;
}
.vtabs span.vtabs-separator {
    width: 100%;
    display: block;
    float: left;
    background: transparent;
    border: 0;
    padding: 10px 0;
}
#vtabs-mails {
    margin-top: 0;
    width: 300px;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    height: 509px;
    overflow-y: auto;
    min-height: 509px;
}
#vtabs-mails .vtabs-mail-head {
    display: block;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #bbd3da;
    border-top: 1px solid #fff;
	margin-bottom: 0;
}
#vtabs-mails .vtabs-mail-head:first-child {
    border-top: 0;
}
#vtabs-mails input {
    float: left;
    display: block;
    margin-right: 5px;
    margin-top: 11px;
    margin-left: 6px;
	cursor: pointer;
}
.content-contacts .vtabs a.vtabs-mail {
    width: calc(100% - 25px);
    line-height: normal;
    height: 35px;
    padding: 4px;
	padding-right: 2px;
    overflow: hidden;
    background: none;
    display: block;
    float: left;
    clear: none;
	border: 0 !important;
	font-weight: normal !important;
}
.content-contacts .vtabs a:hover {
    background-color: #c7e3ef !important;
}
.content-contacts .vtabs li.active a.vtabs-mail {
	background: #c7e3ef;
}
.content-contacts .vtabs li:first-child a {
    border-top: 0;
}
.content-contacts .vtabs a.selected {
    padding-right: 8px;
    color: #004458;
    font-weight: bold;
    background-color: #c7e3ef;
}
.content-contacts .vtabs a.vtabs-mail.selected {
	font-weight: normal;
	padding-right: 2px;
}
.content-contacts .vtabs a.vtabs-send {
    background-position: 6px -670px;
}
.content-contacts .vtabs a.vtabs-send.selected {
    background-position: 6px -695px;
}
.content-contacts .vtabs a.vtabs-template {
    background-position: 6px -718px;
}
.content-contacts .vtabs a.vtabs-template.selected {
    background-position: 6px -742px;
}
.content-contacts .vtabs a.vtabs-groups {
	background-image: url('../image/contacts/listicons2.png');
    background-position: -1px -3px;
}
.content-contacts .vtabs a.vtabs-groups.selected {
	background-image: url('../image/contacts/listicons2.png');
    background-position: -1px -25px;
}
.content-contacts .vtabs a.vtabs-newsletters  {
	background-image: url('../image/contacts/listicons2.png');
    background-position: -2px -50px;
}
.content-contacts .vtabs a.vtabs-newsletters.selected {
	background-image: url('../image/contacts/listicons2.png');
    background-position: -2px -73px;
}
.content-contacts .vtabs a.vtabs-checkmails {
    background-image: url('../image/contacts/listicons.png');
    background-position: 6px -286px;
}
.content-contacts .vtabs a.vtabs-checkmails.selected {
	background-image: url('../image/contacts/listicons.png');
    background-position: 6px -310px;
}
.content-contacts .vtabs a.vtabs-crons  {
    background-position: 6px -525px;
}
.content-contacts .vtabs a.vtabs-crons.selected {
    background-position: 6px -549px;
}
.content-contacts .vtabs a.vtabs-statistics  {
	background-image: url('../image/contacts/statistic19.png');
	background-position: 8px 2px;
}
.content-contacts .vtabs a.vtabs-statistics.selected {
	background-image: url('../image/contacts/statistic19b.png');
	background-position: 8px 2px;
}
.content-contacts .vtabs a.vtabs-log {
    background-position: 6px -573px;
}
.content-contacts .vtabs a.vtabs-log.selected {
    background-position: 6px -598px;
}
.content-contacts .vtabs a.vtabs-setting {
    background-position: 6px -862px;
}
.content-contacts .vtabs a.vtabs-setting.selected {
    background-position: 6px -887px;
}
.content-contacts .vtabs a.vtabs-mails {
	background-position: 6px 2px;
}
.content-contacts .vtabs a.vtabs-mails small {
    font-size: 9px;
}
.content-contacts .vtabs a.vtabs-mails.selected {
    background-position: 6px -22px;
}
.content-contacts .vtabs-content {
    margin-left: 190px;
	padding-left: 1px;
	overflow: hidden;
}
#mails .vtabs-content {
	margin-left: 304px;
}
.content-contacts .vtabs-content .block-content {
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    box-shadow: 0 0 2px #999;
    -webkit-box-shadow: 0 0 2px #999;
    padding: 1px;
    background: #f9f9f9;
}
.content-contacts .vtabs-content .block-content.content-mail {
    border-left: 0;
    border-radius: 0 4px 4px 0;
	height: 507px;
    overflow-y: auto;
}
table.form > tbody.mail-headers > tr > td:first-child {
    width: 150px;
}
.content-mail .item-text, .content-mail .item-html {
    padding-left: 5px;
    padding-right: 5px;
}
.content-contacts .vtabs-content .block-content.content-mail .item-text + .item-text {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #dddddd;
}
.content-contacts .vtabs-content .block-content.content-mail pre {
    word-wrap: break-word;
    white-space: pre-line;
	border: 0;
    background: inherit;
}
.content-contacts .vtabs-content .vtabs-content-mail {
    /*margin-left: 304px;*/
}
.content-contacts .content-templates, .content-contacts .content-groups, 
.content-contacts .content-statistics, .content-contacts .content-newsletters, 
.content-contacts .content-checkmails, .content-contacts .content-crons, 
.content-contacts .content-setting {
    min-height: 511px;
}
.content-contacts .content-mails {
    height: 511px;
	overflow: hidden;
}
.content-contacts .vtabs-content .block-content.content-template, 
.content-contacts .vtabs-content .block-content.content-group, 
.content-contacts .vtabs-content .block-content.content-newsletter, 
.content-contacts .vtabs-content .block-content.content-checkmail, 
.content-contacts .vtabs-content .block-content.content-cron {
	display: none;
    margin-top: 12px;
}
.content-contacts .vtabs-content .block-content.content-log {
    padding: 10px;
	padding-bottom: 5px;
}
.content-contacts .block-contents {
    position: relative;
}
.content-contacts .vtabs-content .content-attention {
    overflow: hidden;
    z-index: 1;
    margin-bottom: 5px;
}
.content-contacts .vtabs-content .content-attention.open {
	max-height: 152px;
    overflow: auto;
    z-index: 999;
}
.content-contacts .vtabs-content .content-statistics td.numbers, 
.content-contacts .vtabs-content .content-groups td.numbers {
	width: 32px;
	min-width: 20px;
}
.content-contacts .vtabs-content .content-statistics td.send-region {
	cursor: help;
	text-transform: uppercase;
}
.content-contacts .vtabs-content table td.icon {
	width: 39px;
	min-width: 39px;
	cursor: help;
}
.content-contacts .vtabs-content .content-statistics td.date, 
.content-contacts .vtabs-content .content-crons td.date {
	width: 93px;
	min-width: 93px;
}
.content-contacts .vtabs-content .content-statistics td.sendto {
	width: 190px;
}
.content-contacts .vtabs-content .content-statistics td.subject {
	min-width: 160px;
}
.content-contacts .vtabs-content .content-crons td.numbers {
	width: 32px;
    min-width: 20px;
}
.content-contacts .vtabs-content .content-crons td.period, 
.content-contacts .vtabs-content .content-crons td.status {
	width: 45px;
	min-width: 45px;
}
.content-contacts .vtabs-content .content-crons td.cron-count, 
.content-contacts .vtabs-content .content-crons td.send-total, 
.content-contacts .vtabs-content .content-crons td.email-total {
    width: 35px;
    min-width: 35px;
    cursor: help;
}
.content-contacts .vtabs-content .content-crons td.cron-status {
	width: 100px;
	min-width: 93px;
}
.content-contacts .vtabs-content .content-crons td.name {
	width: 190px;
}
.content-contacts .vtabs-content .content-crons td.sendto {
	width: 190px;
}
.content-contacts .vtabs-content .content-statistics td.action, 
.content-contacts .vtabs-content .content-crons td.action {
	width: 110px;
	min-width: 105px;
}
.content-contacts .vtabs-content table td.gcounts {
    width: 100px;
    min-width: 100px;
}
.content-contacts .vtabs-content table td.taction, 
.content-contacts .vtabs-content table td.naction, 
.content-contacts .vtabs-content table td.gaction {
    width: 130px;
	min-width: 105px;
}
.content-contacts .vtabs-content table td.nsubscribe {
    width: 90px;
	min-width: 70px;
}
.content-contacts .subscriber {
    width: 16px;
    height: 16px;
    margin: 0 auto;
    background: url('../image/success.png') no-repeat;
}
.content-contacts .unsubscriber {
    width: 16px;
    height: 16px;
    margin: 0 auto;
    background: url('../image/warning.png') no-repeat;
}
.content-contacts .box .success, 
.content-contacts .box .warning, 
.content-contacts .box .info {
    padding: 5px 10px 5px 33px;
    margin: 0 5px;
	display: inline-block;
    vertical-align: middle;
}
.content-contacts .content-attention .success, 
.content-contacts .content-attention .warning, 
.content-contacts .content-attention .info {
	padding: 7px 10px 7px 33px;
	margin: 7px;
	margin-right: 0;
    display: inline-block;
	vertical-align: top;
}
.content-contacts .content-attention .attention {
	padding: 10px;
	margin: 7px;
	display: inline-block;
	vertical-align: top;
}
.content-contacts .box .success.success-upload {
    margin-left: 0;
}
.mails-error {
    padding: 6px;
}
.content-contacts .content-attention .attention.attention-send {
    margin-right: 0;
    padding: 7px 10px 7px 33px;
}
#checkmail_block .block-box {
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
	min-height: 495px;
}
.content-contacts .content-checkmails .pull-left {
    float: left;
    width: 450px;
    padding-right: 2px;
}
.content-contacts .content-checkmails .pull-right {
    float: right;
    position: absolute;
    right: 0;
    width: calc(100% - 452px);
    padding-left: 2px;
    height: 100%;
	overflow: auto;
}
.content-contacts .content-checkmails .top-box {
    text-align: center;
    font-size: 14px;
    padding-bottom: 10px;
}
#resultmail > tr > td {
	padding: 8px 5px;
}
#resultmail td.date {
	width: 93px;
    min-width: 93px;
}
#resultmail td.sendto {
    width: 290px;
}
#resultmail td.icon {
	width: 40px;
    min-width: 35px;
    cursor: help;
}
#resultmail td.action {
    width: 50px;
}

.content-contacts .vtabs-content table.list, 
.content-contacts .vtabs-content table.form {
    background: #f9f9f9;
    border: 1px solid #C7E3EF;
    margin-bottom: 0;
}
.content-contacts .list, .content-contacts .form {
    border-collapse: collapse;
    width: 100%;
}
.info-table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
}
.help {
    color: #777;
}
.content-contacts select + .help, .content-contacts input + .help {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}
.help.help-icon {
    font-weight: 600;
    cursor: help;
}
.cron-icons {
    margin-top: 5px;
}
.cron-icons img {
    width: 16px;
    height: 16px;
}
.cron-icons img.invers-img {
    border: 1px solid #f5a229;
}
#crons .invers-to {
	padding: 3px 6px;
    border: 1px solid #f5a229;
}
.content-contacts .vtabs-content table.list > thead > tr > td, 
.content-contacts .vtabs-content table.form > thead > tr > td, 
.info-table thead tr td {
    color: #69939e;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
	border-bottom: 1px solid #CAE2EC;
    border-right: 1px solid #CAE2EC;
    background: #d6eaf3;
    background: -moz-linear-gradient(left, #e3f2f6 0, #d6eaf3 28%, #d6eaf3 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0,#e3f2f6), color-stop(28%,#d6eaf3), color-stop(100%,#d6eaf3));
    background: -o-linear-gradient(left, #e3f2f6 0, #d6eaf3 28%, #d6eaf3 100%);
    background: -ms-linear-gradient(left, #e3f2f6 0, #d6eaf3 28% ,#d6eaf3 100%);
    padding: 7px;
    text-overflow: ellipsis;
    text-align: center;
}
.info-table thead tr td {
	padding: 5px;
}
.content-contacts .vtabs-content table.list > thead > tr > td a, 
.content-contacts .vtabs-content table.form > thead > tr > td a {
	color: #69939e;
}
.content-contacts .vtabs-content table.list > tbody > tr > td, 
.content-contacts .vtabs-content table.form > tbody > tr > td, 
.info-table tbody tr td {
    padding: 8px 10px;
	font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    border-bottom: 1px solid #CAE2EC;
    border-right: 1px solid #CAE2EC;
    background-color: #f9f9f9;
	background-image: -ms-linear-gradient(top, #ffffff 0%, #eef3f6 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #eef3f6 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #eef3f6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eef3f6));
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #eef3f6 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #eef3f6 100%);
}
.content-contacts .vtabs-content table.list > tbody > tr > td.td-btn {
    padding: 0px 10px;
    height: 37px;
}
.content-contacts .vtabs-content table tbody tr.newline td {
	background-image: -ms-linear-gradient(top, #FEFFFE 0%, #E7F5D9 100%);
    background-image: -moz-linear-gradient(top, #FEFFFE 0%, #E7F5D9 100%);
    background-image: -o-linear-gradient(top, #FEFFFE 0%, #E7F5D9 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFFFE), color-stop(1, #E7F5D9));
    background-image: -webkit-linear-gradient(top, #FEFFFE 0%, #E7F5D9 100%);
	background-image: linear-gradient(to bottom, #FEFFFE 0%, #E7F5D9 100%);
}
.content-contacts .vtabs-content table tbody.to-yellow tr {
	background-color: #fff3cd;
}
.content-contacts .vtabs-content table tbody.to-yellow tr td {
	border-bottom: 1px solid #e0dab2;
    border-right: 1px solid #e0dab2;
	background-image: none;
    background: hsla(0, 0%, 100%, 0.58);
}
.content-contacts .vtabs-content table tbody.to-yellow select, 
.content-contacts .vtabs-content table tbody.to-yellow .scrollbox {
	border: 1px solid #d4cc98;
}
.content-contacts .vtabs-content table tbody.to-yellow input[type="text"], 
.content-contacts .vtabs-content table tbody.to-yellow input[type="checkbox"], 
.content-contacts .vtabs-content table tbody.to-yellow textarea {
	border: 1px solid #d4cc98;
	box-shadow: inset 0 1px 3px rgba(209, 209, 209, 0.45);
}
.content-contacts .vtabs-content table tbody.to-green tr {
	background-color: #e2ffdb;
}
.content-contacts .vtabs-content table tbody.to-green tr td {
    border-bottom: 1px solid #cddebe;
    border-right: 1px solid #cddebe;
	background-image: none;
    background: hsla(0, 0%, 100%, 0.73);
}
.content-contacts .vtabs-content table tbody.to-green select, 
.content-contacts .vtabs-content table tbody.to-green .scrollbox {
	border: 1px solid #a5c79b;
}
.content-contacts .vtabs-content table tbody.to-green input[type="text"], 
.content-contacts .vtabs-content table tbody.to-green input[type="checkbox"], 
.content-contacts .vtabs-content table tbody.to-green textarea {
	border: 1px solid #a5c79b;
	box-shadow: inset 0 1px 3px rgba(209, 209, 209, 0.45);
}
.content-contacts .vtabs-content table tbody.to-red tr {
	background-color: #ffe0c6;
}
.content-contacts .vtabs-content table tbody.to-red tr td {
    border-bottom: 1px solid #e0c5b2;
    border-right: 1px solid #e0c5b2;
	background-image: none;
    background: hsla(0, 0%, 100%, 0.73);
}
.content-contacts .vtabs-content table tbody.to-red select, 
.content-contacts .vtabs-content table tbody.to-red .scrollbox {
	border: 1px solid #d9ad87;
}
.content-contacts .vtabs-content table tbody.to-red input[type="text"], 
.content-contacts .vtabs-content table tbody.to-red input[type="checkbox"], 
.content-contacts .vtabs-content table tbody.to-red textarea {
	border: 1px solid #d9ad87;
	box-shadow: inset 0 1px 3px rgba(209, 209, 209, 0.45);
}
.info-table tbody tr td {
	padding: 5px 10px;
}
.info-table tfoot tr td {
    padding: 10px 10px;
    border-bottom: 1px solid #cddebe;
    border-right: 1px solid #cddebe;
    background-color: #e9fbe5;
}
.info-table tfoot tr td.action {
	padding: 4px 5px;
}
.info-table tfoot tr td.action * {
    display: inline-block;
    vertical-align: middle;
}
.info-table tfoot tr td.action span {
    margin-right: 7px;
    margin-left: 5px;
}
.info-table td.action .success, 
.info-table td.action .warning, 
.info-table td.action .info {
    padding: 5px 10px 5px 33px;
    margin: 0 5px;
	display: inline-block;
    vertical-align: middle;
}
#templates tbody tr td {
	padding: 7px 10px;
}
#groups tbody tr td {
	padding: 7px 10px;
}
#newsletters tbody tr td {
	padding: 7px 10px;
}
#newsletters tbody tr td.action {
	padding: 4px 10px;
	padding-left: 0;
}
.content-contacts .vtabs-content table td.right, .info-table td.right {
    text-align: right;
}
.content-contacts .vtabs-content table td.left, .info-table td.left {
    text-align: left;
}
.content-contacts .vtabs-content table td.center, .info-table td.center {
    text-align: center;
}
#checkmail.form > tbody > tr > td:first-child {
    width: 179px;
	color: #333;
}
#resultmail > tbody > tr > td {
	padding: 8px 5px;
}
#mail > tbody > tr > td:first-child, 
#template > tbody > tr > td:first-child, 
#group > tbody > tr > td:first-child, 
#newsletter > tbody > tr > td:first-child, 
#cron > tbody > tr > td:first-child, 
#contacts-setting table.form > tbody > tr > td:first-child {
	width: 210px;
	color: #333;
}
.content-contacts #tab-log textarea {
    width: 100%;
    height: 490px;
    resize: vertical;
    padding: 10px;
    background: #f9f9f9;
    overflow-y: scroll;
    border-radius: 4px;
    outline: none;
    border: 1px solid #D8D8D8;
}
.content-contacts input[type="text"] {
    padding: 4px 5px;
	height: 25px !important;
    margin: 0;
    background: #FFFFFF;
    border: 1px solid #87BDD9;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px #D1D1D1;
    color: #333;
	outline: none;
}
.content-contacts input[type="checkbox"] {
	border: 1px solid #87BDD9;
	border: 1px solid #97c2d8;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px #D1D1D1;
    color: #333;
    outline: none;
	margin: 2px;
}
.content-contacts select, .info-table select {
    background-color: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
    background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #87BDD9;
    -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
    height: 25px !important;
    padding: 0px 0 0px 8px;
    color: #444444;
    outline: none;
}
.info-table select {
    min-width: 100px;
    max-width: 200px;
    margin-right: 5px;
	vertical-align: middle;
}
input#new_temp_name {
    vertical-align: middle;
}
#contacts-setting tr.retpath-email input {
	margin-right: 10px;
}
#contacts-setting tr.retpath-email .help {
    display: inline-block;
    vertical-align: middle;
}
.content-contacts .buttons.right {
    text-align: right;
    padding: 5px;
	padding-top: 0;
    height: 40px;
    background: transparent;
    border: 0;
}
.content-contacts a.btn, .info-table a.btn {
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    cursor: pointer;
	background-repeat: no-repeat;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.content-contacts a.btn:hover, .info-table a.btn:hover {
    text-decoration: none;
}
.content-contacts .btn-mview {
    width: 24px;
    height: 24px;
    background-image: url('../image/contacts/zoom24.png');
	margin: 0;
}
.content-contacts .btn-nmview {
    width: 24px;
    height: 24px;
    background-image: url('../image/contacts/nzoom24.png');
	margin: 0;
}
.content-contacts .btn-medit {
    width: 24px;
    height: 24px;
    background-image: url('../image/contacts/docedit24.png');
	margin: 0;
}
.content-contacts .btn-update {
    width: 32px;
    height: 32px;
    background-image: url('../image/contacts/update32.png');
	margin: 0 3px;
}
.content-contacts .btn-remove {
    width: 32px;
    height: 32px;
    background-image: url('../image/contacts/delete32.png');
	margin: 0 0 0 3px;
}
.content-contacts .btn-mremove, .info-table .btn-mremove {
    width: 24px;
    height: 24px;
    background-image: url('../image/contacts/delete24.png');
	margin: 0;
}
.content-contacts .btn-mclear {
    width: 24px;
    height: 24px;
    background-image: url('../image/contacts/clear24.png');
	margin: 0;
}
.content-contacts .btn-msubscr {
    width: 24px;
    height: 24px;
    background-image: url('../image/contacts/securityh24.png');
	margin: 0;
}
.content-contacts .btn-munsubscr, .info-table .btn-munsubscr {
    width: 24px;
    height: 24px;
    background-image: url('../image/contacts/securityl24.png');
	margin: 0;
}
.content-contacts .btn-menable {
    width: 24px;
    height: 24px;
    background-image: url('../image/contacts/securityh24.png');
	margin: 0;
}
.content-contacts .btn-mdisable {
    width: 24px;
    height: 24px;
    background-image: url('../image/contacts/securityl24.png');
	margin: 0;
}
.content-contacts .btn-save {
    width: 32px;
    height: 32px;
	background-image: url('../image/contacts/floppy32.png');
	margin: 0 3px;
}
.content-contacts .btn-msave {
    width: 24px;
    height: 24px;
	background-image: url('../image/contacts/floppy24.png');
	margin: 0 3px;
}
.content-contacts .btn-send {
    width: 32px;
    height: 32px;
	background-image: url('../image/contacts/replied32.png');
	margin: 0 3px;
}
.content-contacts .btn-check {
    width: 32px;
    height: 32px;
	background-image: url('../image/contacts/check32.png');
	margin: 0 3px;
}
.content-contacts .btn-cron {
    width: 32px;
    height: 32px;
	background-image: url('../image/contacts/clock32.png');
	margin: 0 3px;
}
.content-contacts .btn-msend {
    width: 24px;
    height: 24px;
	background-image: url('../image/contacts/replied24.png');
	margin: 0 3px;
}
.content-contacts .btn-mtocompl {
    width: 24px;
    height: 24px;
	background-image: url('../image/contacts/greplied24.png');
	margin: 0 3px;
}
.content-contacts .btn-cancel {
    width: 32px;
    height: 32px;
	background-image: url('../image/contacts/security32.png');
	margin: 0 0 0 3px;
}
.content-contacts .btn-mcancel {
    width: 24px;
    height: 24px;
	background-image: url('../image/contacts/security24.png');
	margin: 0 0 0 3px;
}
.content-contacts .btn-addnew {
    width: 32px;
    height: 32px;
	background-image: url('../image/contacts/docnew32.png');
	margin: 0;
}
.content-contacts .btn-addnews {
    width: 32px;
    height: 32px;
	background-image: url('../image/contacts/contactnew32.png');
	margin: 0;
}
.content-contacts .btn-maddnew {
    width: 24px;
    height: 24px;
	background-image: url('../image/contacts/docnew24.png');
	margin: 0;
}
.content-contacts .btn-mupload {
    width: 29px;
    height: 24px;
	background-image: url('../image/contacts/addfolder29.png');
	margin: 0 10px 0 3px;
}
.content-contacts .btn-movenews {
    width: 32px;
    height: 32px;
	background-image: url('../image/contacts/usermove32.png');
	margin: 0 5px 0 5px;
}
.content-contacts .btn-msuccess, .info-table .btn-msuccess {
	height: 22px;
    line-height: 20px;
    padding: 0 6px;
    border-radius: 4px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background: #5bb75b;
    background: -moz-linear-gradient(top, #70AF70, #267D26);
    background: -webkit-linear-gradient(top, #70AF70, #267D26);
    background: -o-linear-gradient(top, #70AF70, #267D26);
    background: linear-gradient(to bottom, #70AF70, #267D26);
    border-color: #51a351 #51a351 #387038;
}
.info-table a.btn-msuccess {
    height: 23px !important;
    line-height: 21px;
    padding: 0 6px;
}
.content-contacts .list tbody td {
	background: none;
	font-family: verdana;
    font-size: 11px;
}
.content-contacts .list tbody tr:hover td {background-color: inherit;}
.content-contacts .list tr.filter td, .content-contacts .list tr:hover.filter td {background: inherit;}
.content-contacts .list td.td-cdatestart, .content-contacts .list td.td-cdatenext, .content-contacts .list td.td-cstatus {
    padding: 8px 5px;
}
.content-contacts .scrollbox {
    width: 95%;
    max-width: 450px;
    height: auto;
    min-height: 50px;
    max-height: 200px;
    margin-bottom: 5px;
    background: #FFFFFF;
    overflow-y: scroll;
}
.content-contacts .scrollbox div {
    padding: 3px;
}
.content-contacts .scrollbox div.even {
    background: #ffffff;
}
.content-contacts .scrollbox div.odd {
    background: #ececec;
}
.content-contacts .scrollbox div input {
    margin: 0px;
    padding: 0px;
    margin-right: 3px;
}
.content-contacts .wait {
	vertical-align: middle;
	display:inline-block;
	margin-right: 10px;
	margin-left: 10px;
}
.content-contacts .select-block {
    display: table-cell;
    padding-right: 10px;
    vertical-align: middle;
}
.content-contacts .select-block > *, .content-contacts .products-block > * {
	display: inline-block;
	vertical-align: middle;
	outline: none;
}
.select-block.filter-block input, .select-block.filter-block select {
    margin-left: 5px;
}
.content-contacts .select-block span {
	/*min-width: 46px;*/
}
.content-contacts .select-block.filter-block, .content-contacts .products-block, .content-contacts .showsel, .content-contacts .showcatsel {
    display: none;
    opacity: 0;
}
.content-contacts .select-block.to-help-block span {
	display: none;
	margin-left: 15px;
}
.content-contacts .select-block.invers-block {
	border: 1px solid #e4ac5a;
    padding: 2px 4px;
}
.content-contacts .select-block.invers-block.line-block {
	display: inline-block;
	margin-top: 5px;
}
.content-contacts .products-block {
	margin: 0 10px;
}
.content-contacts .products-block input {
	margin-left: 5px;
	max-width: 80%;
}
.content-contacts #products-body {
	display: none;
    background-color: #fbfeff;
    border: 1px solid #BFBFBF;
}
.content-contacts #products-body tr td > *, .content-contacts #to-customer-group tr td > *, .content-contacts #to-send-group tr td > * {
	vertical-align: middle;
}
.content-contacts .scrollbox div * {
    vertical-align: text-bottom;
}
.content-contacts .scrollbox div img {
    padding-left: 3px;
	cursor: pointer;
	float: right;
}
#contacts-setting input[type="text"] {
    min-width: 230px;
}
#contacts-setting input[type="text"].half {
    width: 110px;
    min-width: 110px;
}
#contacts-setting select {
    min-width: 110px;
}
#tab-scheck select, #tab-scheck input[type="text"] {
    vertical-align: middle;
}
#mail select {
	min-width: 230px;
	max-width: 80%;
	vertical-align: middle;
}
#checkmail select {
	min-width: 210px;
	max-width: 80%;
	vertical-align: middle;
}
input[name='customers'], input[name='clients'], input[name='affiliates'], input[name='products'], input[name='temp_name'], 
input[name='new_temp_name'], input[name='contacts_mail_from'], input[name='contacts_email_pattern'], 
select[name='template_id'], input[name='from_customers'], input[name='from_clients'], input[name='from_affiliates'], 
input[name='from_products'], input[name='attachments_cat'], #group input[type="text"] {
	width: 450px;
	max-width: 80%;
}
#newsletters .filter input[type="text"], #newsletters .filter select {
    width: 100%;
}
#newsletter input[type="text"], #newsletter select {
	min-width: 230px;
	max-width: 80%;
}
#mail input.date, #mail input.limit, #newsletter input.date, #newsletter input.limit {
    min-width: inherit;
    width: 100px;
}
.content-contacts .spravka_tegi span {
	width: 85px;
	display: inline-block;
}
.content-contacts .input-manual {
    min-height: 100px;
    height: auto;
	max-height: 350px;
    width: 85%;
	max-width: 85%;
	resize: vertical;
    padding: 5px;
    background: #FFFFFF;
    border: 1px solid #87BDD9;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px #D1D1D1;
    color: #333;
    outline: none;
}
#checkmail .input-manual {
    width: 99%;
    max-width: 99%;
}
.content-contacts .attention.misssend-attention {
    padding: 7px 10px 5px 10px;
    margin: 7px;
	margin-right: 0;
    background: #FFF5CC;
	position: relative;
}
.content-contacts .misssend-attention .success, .content-contacts .misssend-attention .warning {
	margin-bottom: 7px;
}
.content-contacts .attention .info-block {
	margin-bottom: 7px;
}
.content-contacts .attention .buttons-block {
    text-align: left;
}
.content-contacts .attention .close-block {
	position: absolute;
    bottom: 7px;
    right: 7px;
}
.content-contacts .close-block img {
    cursor: pointer;
    padding: 0;
    float: none;
    vertical-align: middle;
}
.content-contacts .malarm {
    display: block;
    color: red;
    margin-bottom: 4px;
}
.pagination-block {
    overflow: hidden;
    padding: 6px;
}
.pagination-block > div {
    padding-left: 0;
}
.content-contacts .attention.misssend-attention.stop-attention {
	padding: 7px 10px 7px 10px;
}
.content-contacts .attention.stop-attention .info-block {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: bottom;
}
.content-contacts .attention.stop-attention .malarm {
    margin: 0;
}
.content-contacts .attention.stop-attention .buttons-block {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 20px;
}
.content-contacts .pagination {
    overflow: hidden;
    padding: 6px;
}
.content-contacts .pagination li * {
    display: inline-block;
	padding: 4px 10px;
    border-radius: 3px;
    border: 1px solid #CAE2EC;
    background-color: #f9f9f9;
    background-image: -ms-linear-gradient(top, #ffffff 0%, #eef3f6 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #eef3f6 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #eef3f6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eef3f6));
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #eef3f6 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #eef3f6 100%);
}
.content-contacts .pagination li span {
    border: 1px solid #1e91cf;
    color: #1e91cf;
}
.content-contacts .pagination li.active span:hover, .content-contacts .pagination li a:hover {
	border: 1px solid #1e91cf;
    color: #1e91cf;
}
.content-contacts .pagination-block .pagination-results {
    padding: 6px;
    line-height: 27px;
	color: #A3A3A3;
}
#attention_toggle {
    float: right;
    width: 24px;
    height: 24px;
    background-image: url('../image/contacts/infos24.png');
    background-repeat: no-repeat;
    cursor: pointer;
}
#attention_limit {
    float: right;
    overflow: hidden;
    margin-right: 15px;
    border: 1px solid #c9d9e0;
    border-radius: 4px;
    font-weight: bold;
    color: #64858e;
}
#attention_limit.attention-warning {
    border: 1px solid #cc615f;
    color: #dc110d;
}
#attention_limit div {
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
    padding: 0 8px;
    background: #d1e9f3;
    cursor: help;
    border-radius: 0 4px 4px 0;
}
#limit_hour {
    border-right: 1px solid #CAE2EC;
    border-radius: 4px 0 0 4px !important;
}
#button_fclear {
	display: none;
}
#info_files {
    display: none;
	width: auto;
    max-width: 75%;
	vertical-align: middle;
	overflow: hidden;
	padding: 3px 2px 2px 2px;
    margin: 0 5px 0 0;
    background: #FFFFFF;
    border: 1px solid #87BDD9;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px #D1D1D1;
    color: #333;
    outline: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#info_files span {
    float: left;
    margin: 0 3px;
    background: #EAF7D9;
    padding: 2px 6px;
}
#warning_upload {
	width: 450px;
    max-width: 80%;
}
#movenews {
    display: none;
    vertical-align: middle;
    padding: 4px 10px;
    border: 1px solid #74ABC1;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #69939e;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}
#movenews select {
    display: inline-block;
    vertical-align: middle;
    color: #69939e;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    margin: 0 5px;
    height: 22px !important;
	max-width: 250px;
}
#movenews .btn-msuccess {
    padding: 0 6px;
    height: 22px !important;
    line-height: 20px;
}
td.td-cstatus div {
    padding: 6px;
}
td.td-cstatus .status-run {
	background: #cfffbb;
}
td.td-cstatus .status-wait {
	background: #f1ffa4;
}
td.td-cstatus .status-stop {
	background: #ffb1a4;
	border: 1px solid #ababab;
}
td.td-cstatus .status-complite {
	background: #ebfdc8;
	border: 1px solid #ddd;
}
#logs_cron {
    overflow: hidden;
}
#logs_check.block-box {
    overflow: hidden;
    margin-bottom: 0;
}
#logs_cron li, #logs_check li {
    list-style: none;
	position: relative;
}
#ctabs, #cctabs {
    width: 180px;
    margin-top: 0;
	margin-bottom: 0;
    padding: 0;
    min-height: 232px;
    float: left;
    display: block;
    background: #d9ecf4;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: none;
    -webkit-box-shadow: none;
}
#ctabs a {
	width: 180px;
}
#logs_cron .close-block, #logs_check .close-block {
	width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background: url('../image/contacts/close-icon18.png') center center no-repeat;
    cursor: pointer;
}
#logs_cron .close-block:hover, #logs_check .close-block:hover {
	background-color: #c7e3ef;
}
#logs_cron .vtabs-content, #logs_check .vtabs-content {
    margin-left: 183px;
	min-height: 236px;
}
#logs_cron textarea, #logs_check textarea {
    width: 100%;
    height: 232px;
    resize: vertical;
    padding: 10px;
    background: #f9f9f9;
    overflow-y: scroll;
    border-radius: 4px;
    outline: none;
    border: 1px solid #D8D8D8;
}

.version {
    text-align: right;
    margin-top: 10px;
    margin-bottom: -5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px #908383;
}
.error-license {
    text-align: center;
    color: red;
    color: #004458;
    font-weight: bold;
    background-color: #c7e3ef;
    padding: 6px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid #a3a3a3;
    box-shadow: 0 0 2px #999;
    -webkit-box-shadow: 0 0 2px #999;
}
.success {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.info {
    padding: 10px 10px 10px 33px;
    margin-bottom: 15px;
    background: #d9f7f7 url(../image/contacts/postman16.png) 10px center no-repeat;
    border: 1px solid #92cdf1;
    color: #555555;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.warning {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.error {
    margin-top: 3px;
    color: #FF0000;
    display: block;
    font-size: 12px;
    font-weight: normal;
}

#tabs-setting {
    margin-bottom: 10px;
}
#tabs-setting.nav > li > a {
    padding: 7px 15px 7px 15px;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    color: #333;
    font-weight: 600;
}
.nav a.htabs-ssmtp {
    background: #daedf5;
}
.nav a.htabs-sprod {
    background: #eaf9e7;
}
.nav a.htabs-scheck {
    background: #fff3ea;
}
.nav a.htabs-spop {
    background: #fff8dc;
}

#action_info {
    position: fixed;
    top: 20px;
    right: 40px;
}

.content-contacts td.failed-recipient span {
    padding: 3px 5px;
    margin-left: 10px;
    background: #ffbca6;
    color: #333;
}
.content-contacts td.failed-recipient a.btn {
	margin-left: 10px;
}

#tab-scheck a.btn {
	margin-left: 5px;
}
#mode_checklog tr td {
	padding: 0;
}
#mode_checklog .warning, #mode_checklog .success {
	width: 550px;
	padding: 8px 10px 8px 33px;
	margin: 0 0 10px 0;
}
#mode_checklog .checkmode-info {
	display: none;
	padding: 10px;
}
#mode_checklog .checkmode-success, #mode_checklog .checkmode-warning {
	width: 550px;
	height: 127px;
	resize: vertical;
	display: block;
    border-radius: 5px;
    padding: 5px;
	color: #555555;
	outline: none !important;
}
#mode_checklog .checkmode-success {
	border: 1px solid #BBDF8D;
	background: #EAF7D9;
}
#mode_checklog .checkmode-warning {
	background: #FFD1D1;
	border: 1px solid #F8ACAC;
}
.content-contacts select:disabled {
    color: #969696;
    border: 1px solid #c3c3c3;
}
.content-contacts .required {
    color: #FF0000;
    font-weight: bold;
}
.content-mail .raw-mail {
    margin: 0px;
    width: 99%;
    height: auto;
    min-height: 300px;
    resize: vertical;
}

@media (max-width: 1199px) {
	#checkmail_block .block-box {
		min-height: inherit;
	}
	.content-contacts .content-checkmails .pull-left {
		float: none;
		width: 100%;
		padding-right: 0;
		margin-bottom: 10px;
	}
	.content-contacts .content-checkmails .pull-right {
		float: none;
		position: relative;
		width: 100%;
		padding-left: 0;
	}
	#content.content-contacts {
		padding: 10px 8px 12px 8px;
	}
	.content-contacts .hidemd {
		display: none;
	}
	.content-contacts .vtabs {
		width: 140px;
	}
	.content-contacts .vtabs a {
		width: 140px;
	}
	.content-contacts .vtabs a.vtabs-mails {
		padding-right: 0;
	}
	.content-contacts .vtabs-content {
		margin-left: 148px;
	}
}



